body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: grey;
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
}

.header-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.header-telephone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}
